@page "/home"
<link href="css/home.css" rel="stylesheet" />
<PageTitle>Home</PageTitle>

@* 
 <div id="outer">

     <button type="submit" class="signup-button">Home</button>

     <button type="submit" class="signup-button">Sign Up</button>

     <button type="submit" class="signup-button">Sign Up</button>
 </div>
 *@


 
<div class="content-container">
    <div class="hello-section">
       <h1>Hello, Plants!</h1>
        <p>Welcome to your new app.!<br><br></p>
        </div>
</div>




